{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SLACK_SIGNING_SECRET": "SLACK_SIGNING_SECRET",
    "SLACK_ACCESS_TOKEN": "SLACK_ACCESS_TOKEN",
    "GOOGLE_APPLICATION_CREDENTIALS": "path/to/account key json",
    "GOOGLE_PROJECT_ID": "GOOGLE_PROJECT_ID",
    "GOOGLE_LOCATION": "GOOGLE_LOCATION"
  }
}
